<!DOCTYPE html>
<html>
  <head>
    <title>Select Specialisation</title>
  </head>
  <body>
    <h1>Select a Specialisation</h1>
    <form id="specialization-form" action="/adminCabinet/chooseSpecialisation/listDoctors" method="GET" >
      <select name="specialisation">
        <% for(var i=0; i<specialisations.length; i++) { %>
          <option value="<%=specialisations[i]%>"><%= specialisations[i] %></option>
        <% } %>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>